</main>
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Story Books</h5>
        <p class="grey-text text-lighten-4">Share Your life with the World</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/users/stories">Public Stories</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank"
              href="https://github.com/nil1729/story-book-oauth">Source Code</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © <span id="year"></span> Story Books
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
  integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
<script>
  const storyContainer = document.querySelector('.story-container');
  M.AutoInit();
  $(document).ready(function () {
    $('.modal').modal();
  });
  document.getElementById('year').innerHTML = new Date().getFullYear();
  if (storyContainer && storyContainer.textContent.trim() === '') {
    storyContainer.innerHTML = `
      <p class="flow-text grey-text">No Stories Published yet</p>
      `;
  }
</script>
</body>

</html>