<%- include ('./partials/_header') %>
    <div class="container">
        <h3>About</h3>
        <p class="grey-text" style="font-size: 1.3em;">Version 1.0.0</p>
        <p class="flow-text"> Story Books is an app to share your life</p>
    </div>
<%- include ('./partials/_footer') %> 