<%- include ('./partials/_header') %>
    <div class="container">
        <h3>Welcome</h3>
        <p>
            Welcome to Story Books 1.0.0
        </p>
        <p>
            Post stories from the best and worst of your life and choose for them to be read by the world or completely private as your personal diary.
        </p>
        <a class="btn waves-effect waves-light  red darken-2" href="/auth/google/">
            <i class="fab fa-google"></i> <span style="font-size: 1.2em; margin-left: 5px;">Login With Google</span>  
        </a>
    </div>
<%- include ('./partials/_footer') %> 